body{
    /*overflow: auto;*/
    overflow: hidden;
    width: 100%;
    height: 100%;
    margin: auto;
    font-family: 'Open Sans', helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
	top: 0px !important
}

a{
    text-decoration:none;
    color: inherit;
}

#cameraview{
    max-width: 500px;
    max-height: 800px;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    z-index: 10;
    transform: translateZ(0);
}

#videocontainer{
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

#video{
    position:absolute;
    overflow: visible;
    z-index: 1;
    left: -9999px;
    right: -9999px;
    margin-left: auto;
    margin-right: auto;
}

#video canvas{
  z-index: 1;
}

#canvas{
    position:absolute;
    z-index: 2;
    left: -9999px;
    right: -9999px;
    margin: auto;  
}

#backButton{
  position: absolute;
  z-index: 3;
  margin-left: 10px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 40px;
  background-color: rgba(255,255,255,0.5);
  filter: blur(5);
/*  font-style: italic;*/
  font-size: 30px;
}

#infoButton{
  position: absolute;
  z-index: 4;
  margin-left: 10px;
  margin-top: 10px;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 40px;
  background-color: rgba(255,255,255,0.5);
  filter: blur(5);
/*	text-align: center;*/
  font-family: baskerville;
  font-style: italic;
  font-size: 28px;
}

.languageButton{
  position: relative;
  z-index: 4;
  float: right;
  margin-right: 10px;
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 20px;
  width: 50px;
  height: 50px;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 40px;
  background-color: rgba(255,255,255,0.5);
  filter: blur(5);
}

#cameraButton{
  position: absolute;
  z-index: 4;
/*  left: 147px;*/
/*  bottom: 10px;*/
  width: 70px;
  height: 70px;
  border: 8px solid rgba(255,255,255,0.5);
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0);
  bottom: 20px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

#centerButton{
  position: absolute;
  z-index: 3;
/*  left: 157px;*/
/*  bottom: 20px;*/
  width: 40px;
  height: 40px;
  border-radius: 30px;
  background-color: rgba(255,255,255,0.5);
  border: 4px solid rgba(255,255,255,0);
  bottom: 3px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
}

#progress-bar{
  z-index: 1;
  position: absolute;
  width: 150px;
  height: 150px;
  left: -9999px;
  right: -9999px;
  top: -9999px;
  bottom: -9999px;
  margin: auto;
}

.center-hoz{
  left: -9999px;
  right: -9999px;
  margin-left: auto;
  margin-right: auto;
}

#title{
  overflow: hidden;
  position: absolute;
  z-index: 5;
  height: 550px;
  text-align: center;
  filter: blur(5);
  width: 100%;
  margin: 0 5%;
  bottom: -440px;
}

#noData{
  display: none;
  position: absolute;
  z-index: 4;
  background-color: rgba(255,255,255,0.7);
  border-radius: 20px;
  width: 110px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%);
  top: 280px;
  text-align: center;
  
}

#titleResult, #contentResults{
  background-color: rgba(255,255,255,0.7);
  width: 80%;
  padding: 20px;
  margin-bottom: 20px;
  left: -9999px;
  right: -9999px;
}

#titleResult{
  border-radius: 30px;
  font-size: 22px;
  font-weight: 900;
}

#contentResults{
  height: 390px;
  border-radius: 30px 30px 0px 0px;
  overflow: scroll;
}

#description{
  text-align: justify;
}

.resultsInput{
  padding: 0 5 10 5;
}
