iframe.goog-te-banner-frame{ 
    display: none !important;
}

.goog-te-gadget{
    display: block;
    margin: auto;

}

div#google_translate_element div.goog-te-gadget-simple{
        display: block;
        margin: auto;
        text-align: center;
	
	position: relative;
  z-index: 4;
  float: right;
  margin-right: 10px;
  margin-top: 15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  width: 160px;
  height: 20px;
	padding: 10px;
  border: 2px solid rgba(255,255,255,0);
  border-radius: 40px;
  background-color: rgba(255,255,255,0.5);
  filter: blur(5);

}

div#google_translate_element div.goog-te-gadget-simple a.goog-te-menu-value span{
    color:#ffffff

}

/* ---Code between these lines was found at http://stackoverflow.com/questions/24281192/how-to-remove-or-hide-powered-by-text-from-google-translate - see blog for more info--- */

.goog-logo-link {
   display:none !important;
} 

.goog-te-gadget{
   color: transparent !important;
}

.goog-te-gadget-icon{
  display:none;
}

/*------------------------------------------------------*/


#google_translate_element{
    display: block;

}

.goog-te-gadget-simple{
	background-color: none !important;
	border: none !important;
	padding: none !important;	
}

.goog-tooltip{
	display: none !important;
} 

.goog-te-menu-frame{
	background-color: rgba(255,255,255,0.5) !important;
}